index.jadedoctype html
html(lang="en")
  head
    title #{title}
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 id -- #{id}
    h1 name -- #{name}
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.